<div class="container-fluid sections">
	<div class="row" id="index">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 logo-wrapper">
					<img src="assets/img/logo.png" alt="Logo Auto Jolanta" class="logo img-responsive">
				</div>
			</div>
		</div>
		<div class="wrapper">
				<div class="squere"></div>
		</div>
	</div>	
	<div class="row" id="about">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-lg-10 col-lg-offset-1 top-margin">
					<h1>o firmie</h1>
					<p>Auto Jolanta jest warsztatem samochodowym świadczącym usługi w Ożarowie Mazowieckim. Nasi mechanicy dokładają starań by rozwiązać problemy naszych Klientów związane z naprawą samochodu. Oferujemy szeroki wachlarz usług oraz kompleksową obsługę firm i klientów prywatnych. </p>	
				</div>
			</div>
		</div>
		<div class="wrapper">
				<div class="squere"></div>
		</div>		
	</div>
	<div class="row" id="services">
		<div class="logoBack"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-lg-10 col-lg-offset-1 top-margin">
					<h1>usługi</h1>
					<div class="col-md-6 col-xs-12 table-container">
						<table class="table">
							<tr>
								<td>Diagnostyka komputerowa - czytanie błędów</td>
							</tr>
							<tr>
								<td>Wymiana oleju</td>
							</tr>
							<tr>
								<td>Wymiana filtrów</td>
							</tr>
							<tr>
								<td>Wymiana rozrusznika</td>
							</tr>
							<tr>
								<td>Wymiana alternatora</td>
							</tr>
							<tr>
								<td>Klocki hamulcowe przód / tył</td>
							</tr>
							<tr>
								<td>Tarcze i klocki przód / tył</td>
							</tr>
							<tr>
								<td>Szczęki hamulcowe tył</td>
							</tr>
							<tr>
								<td>Bębny i szczęki hamulcowe tył</td>
							</tr>
						</table>
					</div>
					<div class="col-md-6 col-xs-12 table-container">
						<table class="table">
							<tr>
								<td>Wymiana układu zapłonowego żarowego</td>
							</tr>
							<tr>
								<td>Wymiana sprzęgła</td>
							</tr>
							<tr>
								<td>Lakierowanie za element</td>
							</tr>
							<tr>
								<td>Wymiana rozrządu</td>
							</tr>
							<tr>
								<td>Uszczelka pod głowicą</td>
							</tr>
						</table>
						<p>Ceny innych napraw bierzących / okresowych, samochodów: osobowych, dostawczych i ciężarowych do uzgodnienia po kontakcie.<br>
							<span class="note">W ofercie między innymi: naprawa układów hamulcowych, układu kierowniczego, naprawa zawieszenia pojazdu, remont silnika, naprawa układu chłodniczego, paliwowego i żarowego.</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapper">
				<div class="squere"></div>
		</div>	
	</div>
	<div class="row" id="parts">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-lg-10 col-lg-offset-1 top-margin">
					<h1>części</h1>
					<p style="text-align: center;">Aktualnie magazyn części na sprzedaż jest pusty :(</p>
					<!-- <app-allegro></app-allegro> -->
				</div>
			</div>
		</div>
		<div class="wrapper">
				<div class="squere">
			</div>
		</div>
	</div>
	<div class="row" id="contact">
		<div class="container-fluid">
			<div class="row">
				<div class="navigation">
					<form (ngSubmit)="onSubmit()">
						<button class="btn btn-jolanta" type="submit" style="font-size: 40px;">
							<i class="fa fa-location-arrow arrow" aria-hidden="true" style="font-size: 80px;"></i><span style="letter-spacing: 2px;font-size: 25px; position: absolute; bottom: 20px; left: 31%;">TRASA</span>
						</button>
					</form>
				</div>
				<div class="col-lg-5 col-lg-offset-1 col-md-6 col-xs-12 top-margin">
					<h1>kontakt</h1>
					<h2 class="tel">
						<i class="fa fa-phone" aria-hidden="true"></i>
						&nbsp;
						<a href="tel:+48500390430" class="href">500 390 430</a>
					</h2>
					<h2><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;biuro@autojolanta.pl</h2>
					<h2>
						<i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;
						<a href="https://www.facebook.com/pg/autojolanta/" class="href">facebook.com/autojolanta</a>
					</h2>
					<h2><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;ul. Poznańska 305, Ołtarzew<br>05-850 Ożarów Mazowiecki</h2>
					<h2><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Pon-Pt: 8:00 - 17:00</h2>
				</div>
				<div class="col-md-6 col-xs-12" style="padding: 0;">
					<div class="map">
						<div class="map-triangle"></div>
						<app-map></app-map>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapper">
				<div class="squere"></div>
		</div>
	</div>
</div>
