<div class="container-fluid sections">
	
	<div class="row" id="index">
			<div class="logoBack glowna"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 logo-wrapper">
					<img src="assets/img/logo.png" alt="Logo Auto Jolanta" class="logo img-responsive">
				</div>
			</div>
		</div>
		
		<div class="wrapper">
			<div class="sectionBackground"></div>
			<div class="squere"></div>
		</div>
	</div>	
	<div class="row" id="about">
		<div class="logoBack about"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-lg-10 col-lg-offset-1 top-margin">
					<h1>o firmie</h1>
					<p>Auto Jolanta jest warsztatem samochodowym świadczącym usługi w Ożarowie Mazowieckim. Nasi mechanicy dokładają starań by rozwiązać problemy naszych Klientów związane z naprawą samochodu. Oferujemy szeroki wachlarz usług oraz kompleksową obsługę firm i klientów prywatnych. </p>	
				</div>
			</div>
		</div>
		<div class="wrapper">
			<div class="sectionBackground"></div>
			<div class="squere"></div>
		</div>		
	</div>
	<div class="row" id="services">
		<div class="logoBack services"></div>
		<div class="container-fluid">
			<div class="row servicesImages">
				<div class="col-xs-12 col-lg-10 col-lg-offset-1 top-margin">
					<h1>usługi</h1>
					<div class="row">
						<div class="col-lg-3 col-md-4 col-xs-6">
							<img class="img-responsive services-img" src="assets/img/icons/services/diagnostics.png" alt="Diagnostyka komputerowa">
							<p class="services-p">Diagnostyka komputerowa</p>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-6">
							<img class="img-responsive services-img" src="assets/img/icons/services/oil.png" alt="Wymiana oleju">
							<p class="services-p">Wymiana oleju</p>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-6">
							<img class="img-responsive services-img" src="assets/img/icons/services/filtr.png" alt="Wymiana filtrów">
							<p class="services-p">Wymiana filtrów</p>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-6">
							<img class="img-responsive services-img" src="assets/img/icons/services/rozrusznik.png" alt="Wymiana rozrusznika">
							<p class="services-p">Wymiana rozrusznika</p>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-6">
							<img class="img-responsive services-img" src="assets/img/icons/services/alternator.png" alt="Wymiana alternatora">
							<p class="services-p">Wymiana alternatora</p>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-6">
							<img class="img-responsive services-img" src="assets/img/icons/services/klocki.png" alt="Klocki hamulcowe przód / tył">
							<p class="services-p">Klocki hamulcowe przód / tył</p>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-6">
							<img class="img-responsive services-img" src="assets/img/icons/services/breaking_shield_big.png" alt="Tarcze i klocki przód / tył">
							<p class="services-p">Tarcze i klocki przód / tył</p>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-6">
							<img class="img-responsive services-img" src="assets/img/icons/services/breaking shoes.png" alt="Szczęki hamulcowe tył">
							<p class="services-p">Szczęki hamulcowe tył</p>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-6">
							<img class="img-responsive services-img" src="assets/img/icons/services/woxniollDrumer.png" alt="Bębny i szczęki hamulcowe tył">
							<p class="services-p">Bębny i szczęki hamulcowe tył</p>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-6">
							<img class="img-responsive services-img" src="assets/img/icons/services/swieca.png" alt="Wymiana układu zapłonowego żarowego">
							<p class="services-p">Wymiana układu zapłonowego żarowego</p>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-6">
							<img class="img-responsive services-img" src="assets/img/icons/services/clutch.png" alt="Wymiana sprzęgła">
							<p class="services-p">Wymiana sprzęgła</p>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-6">
							<img class="img-responsive services-img" src="assets/img/icons/services/sprey.png" alt="Lakierowanie za element">
							<p class="services-p">Lakierowanie za element</p>
						</div>

						<div class="col-lg-3 col-md-4 col-xs-6">
							<img class="img-responsive services-img" src="assets/img/icons/services/rozrzad.png" alt="Wymiana rozrządu">
							<p class="services-p">Wymiana rozrządu</p>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-6">
							<img class="img-responsive services-img" src="assets/img/icons/services/uszczelka.png" alt="Uszczelka pod głowicą">
							<p class="services-p">Uszczelka pod głowicą</p>
						</div>
					</div>
					<p>Ceny innych napraw bierzących / okresowych, samochodów: osobowych, dostawczych i ciężarowych do uzgodnienia po kontakcie.<br>
						<span class="note">W ofercie między innymi: naprawa układów hamulcowych, układu kierowniczego, naprawa zawieszenia pojazdu, remont silnika, naprawa układu chłodniczego, paliwowego i żarowego.</span>
					</p>
				</div>
			</div>
		</div>
		<div class="wrapper">
			<div class="sectionBackground"></div>
			<div class="squere"></div>
		</div>	
	</div>
	<div class="row" id="parts">
		<div class="logoBack parts"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-lg-10 col-lg-offset-1 top-margin">
					<h1>części</h1>
					<p style="text-align: center;">Aktualnie magazyn części na sprzedaż jest pusty :(</p>
					<!-- <app-allegro></app-allegro> -->
				</div>
			</div>
		</div>
		<div class="wrapper">
			<div class="sectionBackground"></div>
			<div class="squere"></div>
		</div>
	</div>
	<div class="row" id="contact">
		
		<div class="container-fluid">
				
			<div class="row">
				
				<div class="navigation">	
					<form (ngSubmit)="onSubmit()">
						<button class="btn btn-jolanta" type="submit" style="font-size: 40px;">
							<i class="fa fa-location-arrow arrow" aria-hidden="true" style="font-size: 80px;"></i><span style="letter-spacing: 2px;font-size: 25px; position: absolute; bottom: 20px; left: 31%;">TRASA</span>
						</button>
					</form>
				</div>
				<div class="col-lg-5 col-lg-offset-1 col-md-6 col-xs-12 top-margin contactInfo">
					<h1>kontakt</h1>

					<div class="row">
						<div class="col-xs-offset-2 col-xs-1 col-md-offset-1">
							<h2><i class="fa fa-phone center-x" aria-hidden="true"></i></h2>
						</div>
						<div class="col-xs-7 col-md-10">
							<h2><a href="tel:+48500390430" class="href">500 390 430</a></h2>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-offset-2 col-xs-1 col-md-offset-1">
							<h2><i class="fa fa-map-marker center-x fluffy-icons" aria-hidden="true"></i></h2>
						</div>
						<div class="col-xs-7 col-md-10">
							<h2>ul. Poznańska 305, Ołtarzew<br>05-850 Ożarów Mazowiecki</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-offset-2 col-xs-1 col-md-offset-1">
							<h2><i class="fa fa-clock-o center-x fluffy-icons" aria-hidden="true"></i></h2>
						</div>
						<div class="col-xs-7 col-md-10">
							<h2>Pon-Pt: 8:00 - 18:00<br>Sob: 10:00 - 17:00</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-offset-2 col-xs-1 col-md-offset-1">
							<h2><i class="fa fa-envelope center-x" aria-hidden="true"></i></h2>
						</div>
						<div class="col-xs-7 col-md-10">
							<h2>biuro@autojolanta.pl</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-offset-2 col-xs-1 col-md-offset-1">
							<h2><i class="fa fa-facebook-official center-x" aria-hidden="true"></i></h2>
						</div>
						<div class="col-xs-7 col-md-10">
							<h2><a href="https://www.facebook.com/pg/autojolanta/" class="href">facebook.com/autojolanta</a></h2>
						</div>
					</div>
					
					
				</div>
				<div class="  col-md-6 col-xs-12" style="padding: 0;">
					<div class="map">
						<div class="map-triangle">
							<div class="logoBack contact"></div>
						</div>
						<app-map></app-map>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapper">
			<div class="sectionBackground"></div>
			<div class="squere"></div>
		</div>
	</div>
</div>
