<div class="container-fluid sections">
	<div class="row">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 col-xl-1 col-xl-offset-5 logo-wrapper">
						<img src="assets/img/logo.png" alt="Logo Auto Jolanta" class="logo img-responsive">
					</div>
			</div>
		</div>
		<div class="wrapper">
				<div class="squere"></div>
		</div>
	</div>	
	<div class="row">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 top-margin">
					<h1>o firmie</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet nunc in sapien placerat consectetur. Donec ut ultrices sapien. Sed ante lorem, ultricies nec sapien non, varius porttitor libero. Proin eget ipsum nec turpis pharetra lobortis et eget felis. Integer venenatis tempor diam sit amet hendrerit. Cras mollis consequat fringilla. Nullam finibus nulla dui, ut lobortis lorem convallis at. </p>	
				</div>
			</div>
		</div>
		<div class="wrapper">
				<div class="squere"></div>
		</div>		
	</div>
	<div class="row">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 top-margin">
					<h1>usługi</h1>
					<div class="col-md-6 col-xs-12 table-container">
						<table class="table">
							<tr>
								<td>Diagnostyka komputerowa - czytanie błędów</td>
								<td>50zł</td>
							</tr>
							<tr>
								<td>Wymiana oleju</td>
								<td>50zł</td>
							</tr>
							<tr>
								<td>Wymiana filtrów</td>
								<td>50zł</td>
							</tr>
							<tr>
								<td>Wymiana oleju</td>
								<td>50zł</td>
							</tr>
							<tr>
								<td>Wymiana rozrusznika</td>
								<td>50zł</td>
							</tr>
							<tr>
								<td>Wymiana alternatora</td>
								<td>50zł</td>
							</tr>
							<tr>
								<td>Klocki hamulcowe przód / tył</td>
								<td>50zł</td>
							</tr>
							<tr>
								<td>Tarcze i klocki przód / tył</td>
								<td>100zł</td>
							</tr>
							<tr>
								<td>Szczęki hamulcowe tył</td>
								<td>80zł</td>
							</tr>
							<tr>
								<td>Bębny i szczęki hamulcowe tył</td>
								<td>150zł</td>
							</tr>
						</table>
					</div>
					<div class="col-md-6 col-xs-12 table-container">
						<table class="table">
							<tr>
								<td>Wymiana układu zapłonowego żarowego</td>
								<td>50zł</td>
							</tr>
							<tr>
								<td>Wymiana sprzęgła</td>
								<td>350zł</td>
							</tr>
							<tr>
								<td>Lakierowanie za element</td>
								<td>od 300zł</td>
							</tr>
							<tr>
								<td>Wymiana rozrządu</td>
								<td>od 350zł</td>
							</tr>
							<tr>
								<td>Uszczelka pod głowicą</td>
								<td>od 500zł</td>
							</tr>
						</table>
						<p>Ceny innych napraw bierzących / okresowych, samochodów: osobowych, dostawczych i ciężarowych do uzgodnienia po kontakcie.<br>
							<span style="font-size: 24px;">W ofercie między innymi: naprawa układów hamulcowych, układu kierowniczego, naprawa zaiweszenia pojazdu, remont silnika, naprawa układu chłodniczego paliwowego żarowego i chłodniczego.</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapper">
				<div class="squere"></div>
		</div>	
	</div>
	<div class="row">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 top-margin">
					<h1>części</h1>
					<p>Aktualnie magazyn części na sprzedaż jest pusty :(</p>
				</div>
			</div>
		</div>
		<div class="wrapper">
				<div class="squere">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-5 col-xs-11 col-xs-offset-1 top-margin">
						<h1>kontakt</h1>
					<form (ngSubmit)="onSubmit()">
						<button class="btn-success" type="submit" style="width: 300px; height: 200px; font-size: 40px;">Trasa</button>
					</form>
				</div>
				<div class="col-md-6 col-xs-12" style="padding: 0;">
					<div class="map">
						<div class="map-triangle"></div>
						<app-map></app-map>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapper">
				<div class="squere"></div>
		</div>
	</div>
</div>
<div class="footer">
		div.
		<div class="black"></div>
		<div class="whiteBorder"></div>
</div>

