.logo{
    display: block;
    margin: 90px auto;
    width: 100%;
    padding: 0 20px;
    max-width: 480px;
}



@media screen and (max-width: 768px) {
    .logo {
        margin: 0 auto 40px auto;
    }

    .menu-desk{
        display: none;
    }
}