@media screen and (min-width: 991px) {
  .clipping-path-ractangle {
    display: none; } }
@media screen and (max-width: 991px) {
  .map {
    top: 300px; }

  .top-margin {
    padding-top: 100px; } }
