<div class="contact-info">
    <h2>Kontakt</h2><br>
    <div>
        <i class="pi pi-phone"></i>
        <h3>
            <a href="tel:+48500390430" class="href">500 390 430</a>
        </h3>
    </div>
    <div>
        <i class="pi pi-map-marker"></i>
        <h3>ul. Poznańska 305, Ołtarzew<br />05-850 Ożarów Mazowiecki</h3>
    </div>
    <div>
        <i class="pi pi-clock"></i>
        <h3>Pon-Pt: 8:00 - 18:00<br />Sob: 10:00 - 17:00</h3>
    </div>
    <div>
        <i class="pi pi-envelope"></i>
        <h3>biuro@autojolanta.pl</h3>
    </div>
    <div>
        <i class="pi pi-facebook"></i>
        <h3><a href="https://www.facebook.com/pg/autojolanta/" class="href">facebook.com/autojolanta</a></h3>
    </div>
</div>

<div class="map-responsive">
    <iframe
        id="gmap_canvas"
        src="https://maps.google.com/maps?q=Auto%20Jolanta&t=&z=13&ie=UTF8&iwloc=&output=embed"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
    ></iframe>
</div>
