<div class="shadow" style="z-index: 1100;" id="start">
  <div class="chevron">
    <app-header (items$)="handleItems($event)"></app-header>
  </div>
  <div class="menu-mobile">
    <p-tieredMenu #menu [model]="items" [popup]="true" ></p-tieredMenu>
    <button #btn type="button" pButton icon="pi pi-fw pi-list" label="Menu" (click)="menu.toggle($event)"></button>
  </div>
</div>
<div class="shadow" style="z-index: 1000;" id="about">
  <div class="chevron about">
    <app-about></app-about>
  </div>
</div>
<div class="shadow" style="z-index: 900;" id="services">
  <div class="chevron services">
    <app-services></app-services>
  </div>
</div>
<div class="shadow" style="z-index: 800;" id="contact">
  <div class="chevron contact">
    <app-directions></app-directions>
  </div>
</div>

<app-footer style="position: absolute; z-index: 10000;"></app-footer>