<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav nav-pills nav-justified">
					<li>
						<a><i class="fa fa-car" aria-hidden="true"></i>&nbsp;STRONA GŁÓWNA</a>
					</li>
					<li>
						<a><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;O FIRMIE</a>
					</li>
					<li>
						<a><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;USŁUGI</a>
					</li>
					<li>
						<a><i class="fa fa-sield"></i>&nbsp;SPRZEDAŻ CZĘŚCI</a>
					</li>
					<li>
						<a><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;KONTAKT</a>
					</li>
				</ul>
			</div>
	</div>
</nav>
<