<h2>O nas</h2>
<p>
    <img class="focus" src="assets/focus.jpg" alt="">
    AutoJolanta jest warsztatem specjalizującym się w szerokim wachlarzu napraw samochodów osobowych dostawczych i
    ciężarowych. Okresowe sprawdzenie oraz serwis samochodu osobowego i dostawczego lub cieżarowego nie stanowi dla nas
    żadnego wyzwania. Specjalizujemy się również w naprawach blacharskich, jak i również w naprawach lakierniczych.
    Jeśli Twój pojazd cierpi na inne bolączki przyjedź a zrobiomy wszystko by się ich pozbyć.
</p>
