$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import url('https://fonts.googleapis.com/css?family=Anton|Fjalla+One&subset=latin-ext');
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'variables';
@import 'mixins';
@import 'navs';
@import 'responsive';
//GEOMETRY MATHS SECTION
///////////////////////////////////////////////////////////
// Plain SASS Trigonometry Algorithm in Taylor Expansion //
//                                                       //
// Based on                                              //
//      http://japborst.net/posts/sass-sines-and-cosines //
///////////////////////////////////////////////////////////

$pi: 3.14159265359;
$_precision: 10;

@function pow($base, $exp) {
  $value: $base;
  @if $exp > 1 {
    @for $i from 2 through $exp {
      $value: $value * $base;
    }
  }
  @if $exp < 1{
    @for $i from 0 through -$exp {
      $value: $value / $base;
    }
  }
  @return $value;
}

@function fact($num) {
  $fact: 1;
  @if $num > 0{
    @for $i from 1 through $num {
      $fact: $fact * $i;
    }
  }
  @return $fact;
}

@function _to_unitless_rad($angle) {
  @if unit($angle) == "deg" {
    $angle: $angle / 180deg * $pi;
  }
  @if unit($angle) == "rad" {
    $angle: $angle / 1rad;
  }
  @return $angle;
}

@function sin($angle){
  $a: _to_unitless_rad($angle);
  $sin: $a;
  @for $n from 1 through $_precision {
    $sin: $sin + (pow(-1, $n) / fact(2 * $n + 1) ) * pow($a, (2 * $n + 1));
  }
  @return $sin;
}

@function cos($angle){
  $a: _to_unitless_rad($angle);
  $cos: 1;
  @for $n from 1 through $_precision {
    $cos: $cos + ( pow(-1,$n) / fact(2*$n) ) * pow($a,2*$n);
  }
  @return $cos;
}

@function tan($angle){
  @return sin($angle) / cos($angle);
}

//VARIABLES
$logoColor:  #C15339;
$aboutColor: #E2A764;
$servicesColor: #4AA26E;
$partsColor: #44788E;
$contactColor: #515B9B;



//MAIN PRINCIPLES
body{
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
    background-color: #286949;
}
h1{
    font-size: 54px;
    font-family: 'Anton', sans-serif;
}

p{
    font-size: 34px;
}
.row{
    position: relative;
}
.squere{
    margin: 0 auto;
    border: 20px solid #fff;
    background-color: rgb(0, 38, 255);
    width: 60vw;
    height: 60vw;
    transform: rotate(165deg) skewX(60deg) scaleY( cos(60deg) );
    box-shadow: 20px -20px 20px 0px rgba(0,0,0,0.35);
}

.squere-holder{
    position: absolute;
    bottom: -30vw;
    left: 0;
    width: 100%;
    z-index: -10000;
    overflow: hidden;

}

.wrapper{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.logo-wrapper{
    position: relative;
    top: 7.5vh;
}

.top-margin{
    padding-top: 300px;
}
table{
    font-size: 34px;
}
//SECTIONS

.sections{
    .row:first-child{
        z-index: 1000;
        background-color: $logoColor;
        .wrapper{
            .squere-holder{
                .squere{
                    background-color: $logoColor;
                }
            }
        }
    }
    .row:nth-child(2){
        z-index: 900;
        .row{
            background-color: $aboutColor;
        }
        .wrapper{
            .squere-holder{
                .squere{
                    background-color: $aboutColor;
                }
            }
        }
    }
    .row:nth-child(3){
        z-index: 800;
        .row{
            background-color: $servicesColor;
        }
        .wrapper{
            .squere-holder{
                .squere{
                    background-color: $servicesColor;
                }
            }
        }
    }
    .row:nth-child(4){
        z-index: 700;
        .row{
            background-color: $partsColor;   
        }
        .wrapper{
            .squere-holder{
                .squere{
                    background-color: $partsColor;
                }
            }
        }
    }
    .row:nth-child(5){
        z-index: 600;
        .row{
            background-color: $contactColor;
        }
        .wrapper{
            .squere-holder{
                .squere{
                    background-color: $contactColor;
                }
            }
        }
    }
}

// NAVBAR
.navbar{
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    font-family: 'Anton', sans-serif;
}
#myNavbar{
    font-size: 27px;

    li > a:hover{
        cursor: pointer;
        background-color: rgb(29, 29, 29);
    }

    .fa-sield{
        width: 25px;
        height: 25px;
        background-size: contain;
        background-position: center;
        background-image: url("assets/img/icons/breaking_shield-01.png");
    }
}
// //CLIPPING-PATHS Xd
// .clipping-path{
//     position: absolute;
//     height: 773px;
//     top: 319px;
//     left: 0;
//     width: 100%;
//     clip-path: polygon(0 100%, 100% 100%, 100% 70%, 50% 85%, 0 70%);
//     background-color: #fff;
// }
// .border{
//     top: 339px;
//     background-color: #2e2e2e;
// }
// .clipping-path-ractangle{
//     position: absolute;
//     top: 24px;
//     width: 100%;
//     height: 200px;
//     z-index: 1000;
//     background-color: #515B9B;
//     clip-path: polygon(50% 45%, 0 0, 100% 0);
// }

.map{
    position: absolute;
    top: 500px;
    right: 0;
    width: 50%;
    height: 500px;
    z-index: -100;

}
