$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import url('https://fonts.googleapis.com/css?family=Anton|Teko&subset=latin-ext');
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'variables';
@import 'mixins';
@import 'navs';
//GEOMETRY MATHS SECTION
///////////////////////////////////////////////////////////
// Plain SASS Trigonometry Algorithm in Taylor Expansion //
//                                                       //
// Based on                                              //
//      http://japborst.net/posts/sass-sines-and-cosines //
///////////////////////////////////////////////////////////

$pi: 3.14159265359;
$_precision: 10;

@function pow($base, $exp) {
  $value: $base;
  @if $exp > 1 {
    @for $i from 2 through $exp {
      $value: $value * $base;
    }
  }
  @if $exp < 1{
    @for $i from 0 through -$exp {
      $value: $value / $base;
    }
  }
  @return $value;
}

@function fact($num) {
  $fact: 1;
  @if $num > 0{
    @for $i from 1 through $num {
      $fact: $fact * $i;
    }
  }
  @return $fact;
}

@function _to_unitless_rad($angle) {
  @if unit($angle) == "deg" {
    $angle: $angle / 180deg * $pi;
  }
  @if unit($angle) == "rad" {
    $angle: $angle / 1rad;
  }
  @return $angle;
}

@function sin($angle){
  $a: _to_unitless_rad($angle);
  $sin: $a;
  @for $n from 1 through $_precision {
    $sin: $sin + (pow(-1, $n) / fact(2 * $n + 1) ) * pow($a, (2 * $n + 1));
  }
  @return $sin;
}

@function cos($angle){
  $a: _to_unitless_rad($angle);
  $cos: 1;
  @for $n from 1 through $_precision {
    $cos: $cos + ( pow(-1,$n) / fact(2*$n) ) * pow($a,2*$n);
  }
  @return $cos;
}

@function tan($angle){
  @return sin($angle) / cos($angle);
}

//VARIABLES
$logoColor:  #C15339;
$aboutColor: #E2A764;
$servicesColor: #4AA26E;
$partsColor: #44788E;
$contactColor: #515B9B;
$footerColor: rgb(255, 255, 255);
$footerColorW: rgb(66, 66, 66);



//MAIN PRINCIPLES
body{
    color: #fff;
    font-family: 'Teko', sans-serif;
    background-color: #000;
    text-shadow: 3px 3px 2px #636363;
}
a {
    color: #fff; 
    }
a:link {
    color: #fff;
    }
    a:visited {
    color: #fff;
    }
    a:hover {
    color:#fff;
    }
h1{
    font-size: 54px;
    font-family: 'Anton', sans-serif;
}
h2{
    font-size: 44px;
}

p{
    font-size: 34px;
}
.note{
    font-size: 24px;
}
.row{
    position: relative;
}
.container-fluid{
    padding-left: 30px;
    padding-right: 30px;
}
.squere{
    position: absolute;
    top: -30vw;
    left: 20.2%;
    border: 40px solid rgb(255, 255, 255);
    background-color: rgb(0, 38, 255);
    width: 60vw;
    height: 60vw;
    transform: rotate(165deg) skewX(60deg) scaleY( cos(60deg) );
    box-shadow: 20px -20px 20px 0px rgba(0,0,0,0.35);
}

.wrapper{
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $footerColorW;
}
.logo-wrapper{
    position: relative;
    top: 6vw;
}

.top-margin{
    padding-top: 300px;
}
table{
    font-size: 34px;
}
//SECTIONS
app-content{
    margin-top: 50px;
    display: block;
}
.sections{
    overflow: hidden;
    padding: 0;
    .sectionBackground{
        position: absolute;
        width: 100%;
        background-color: #3f3f3f;
        top: -3000px;
        left: 0;
        height: 3000px;
        z-index: 1;

    }
    .row:first-child{
        .glowna{
            background-image: url('assets/img/glowna.png');
            height: 200%;
        }
        margin-top: 0;
        z-index: 1000;
        .wrapper{
            .squere{
                background-color: $logoColor;
            }
            .sectionBackground{
                background-color: $logoColor;
            }
            
        }
    }
    .row:nth-child(2){
        .about{
            background-image: url('assets/img/about.png');
            height: 200%;
        }
        z-index: 900;
        .wrapper{
            .squere{
                background-color: $aboutColor;
            }
            .sectionBackground{
                background-color: $aboutColor;
            }
        }
    }
    .row:nth-child(3){
        z-index: 800;
        .services{
            background-image: url("assets/img/services.png");
        }
        .wrapper{
            .squere{
                background-color: $servicesColor;
            }
            .sectionBackground{
                background-color: $servicesColor;
            }
        }
    }
    .row:nth-child(4){
        z-index: 700;
        .parts{
            background-image: url("assets/img/parts.png");
        }
        .wrapper{
            .squere{
                background-color: $partsColor;
            }
            .sectionBackground{
                background-color: $partsColor;
            }
        }
    }
    .row:nth-child(5){
        z-index: 600;
        .contact{
            background-image: url("assets/img/contact.png");
        }
        .wrapper{
            height: 298px;
            .squere{
                background-color: $contactColor;
            }
            .sectionBackground{
                background-color: $contactColor;
            }
        }
    }
}

// NAVBAR
.navbar{
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    font-family: 'Anton', sans-serif;
}
#myNavbar{
    font-size: 27px;

    li > a:hover{
        cursor: pointer;
        background-color: rgb(29, 29, 29);
    }
    .fa-sield{
        width: 25px;
        height: 25px;
        background-size: contain;
        background-position: center;
        background-image: url("assets/img/icons/breaking_shield-01.png");
    }
}

//MAP

.map{
    position: relative;
    top: -100px;
    width: 100%;
    height: 800px;
}
.map-triangle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: $contactColor;
    z-index: 100;
}
.map-triangle::before{
    height: 138px;
    content: '';
    width: 50%;
    position: absolute;
    z-index: 1000;
    top: -10px;
    left: 0;
    background: $contactColor;
    transform: skewY(15deg);
}
.map-triangle::after{
    height: 138px;
    content: '';
    width: 50%;
    position: absolute;
    z-index: 1000;
    top: -10px;
    right: 0;
    background: $contactColor;
    transform: skewY(-15deg);
}
.footer-wrapper{
    overflow: hidden;
    margin-top: -300px;
}
.footer{
    position: relative;
    width: 100%;
    top: 16vw;
    height: 35vh;
}
.footer-logo{
    position: absolute;
    z-index: 1001;
    bottom: 0;
    height: 200px;
    width: 100%;
}
.logo-small{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.logoBack{
    position: absolute;
    bottom: -15vw;
    left: 50%;
    background-position: bottom;
    width: 100%;;
    height: 150%;
    opacity: 0.15;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
}
.copyright-info{
    font-size: 16px;
    position: absolute;
    margin-bottom: 5px;
    top: 25px;
    left: 0;
    z-index: 100000;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
}

.black{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 300px;
    background-color: $footerColorW;
}
.black::before{
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    height: 100%;
    width: 100%;
    background: $footerColorW;
    transform: skew(0deg, 15deg);
}
.black::after{
    content: '';
    position: absolute;
    top: -8px;
    right: 0;
    height: 100%;
    width: 100%;
    background: $footerColorW;
    transform: skew(0deg, -15deg);
}
.whiteBorder{
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 400px;
    top: -30px;
    background-color: $footerColor;
}
.whiteBorder::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $footerColor;
    transform: skew(0deg, 15deg);
    
    
}
.whiteBorder::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: $footerColor;
    transform: skew(0deg, -15deg);
}


//BUTTONS

.btn-jolanta{
    width: 180px;
    height: 180px;
    border-radius: 100px;
    background-color: rgb(96, 209, 139);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 15px solid #fff;
    outline: none !important;
}
.btn-jolanta:hover{
    background-color: rgb(14, 204, 87);
    box-shadow: inset 0 0 20px #000000b9;
}
.navigation{
    position: absolute;
    width: 100%;
    bottom: 27%;
    z-index: 1000;
}

////// btn assets ///
.arrow{
    position: absolute;
    left: 26%;
    top: 10%;
}


//This needs to be on bottom
@import 'responsive';