@media screen and (min-width: 2000px) {
    .footer-wrapper{
        margin-top: -400px;
        min-height: 600px;
    }
}
@media screen and (min-width: 991px) {
    .clipping-path-ractangle{
        display: none;
    }
    .map{
        z-index: 1000;
    }
    .navigation{
        z-index: 1501;
    }
    .contact{
        position: absolute;
        left: -50%;
        top: 0;
    }
}
@media screen and (max-width: 991px) {
    h1{
        text-align: center;
    }
    .map{
        top: 200px;
    }
    .squere{
        width: 70vw;
        height: 70vw;
        top: -34vw;
        left: 15.1%;
    }
    table{
        font-size: 20px;
    }
    p{
        font-size: 24px;
    }
    .note{
        font-size: 16px;
    }
    .table{
        margin-bottom: 0;
    }
    .navigation{
        bottom: 38%;
    }
    .logoBack{
        bottom: -18vw;
    }
    h2{
        font-size: 50px;
    }
}

@media screen and (max-width: 1024px) {
    
    
    .footer-logo{
        top: 50%;
        transform: translateY(-10%);
    }
}


// EXTRA SMALL

@media screen and (max-width: 768px) {
    .fluffy-icons{
        font-size: 45px;
        line-height: 60px;
    }
    .footer{
        top: 22vw;
    }
    .top-margin{
        padding-top: 30%;
    }
    .squere{
        width: 85vw;
        height: 85vw;
        top: -40vw;
        left: 10%;
    }

    h2{
        font-size: 30px;
    }
    a{
        text-decoration: none;
    }
    .logoBack{
        bottom: -23vw;
    }
}